.blockOrdered {
  width: 100%;
  min-height: 129px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}
.blockTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
.weight {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #979797;
  margin-left: 10px;
}
.price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
.bottomBlock {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numberBurge {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #898A8D;
  padding-right: 15px;
  padding-left: 15px;
}
.addBtn {
  width: 50%;
  height: 100%;
  background: #fde000;
  border: 1px solid #fde000;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.numberBurge button{
    background: none;
    border: 1px solid #ffffff;
    outline: none;
    text-decoration: none;
    font-size: 27px;
}
.numberBurge span{
    font-style: normal;
font-weight: 500;
font-size: 20px;
color: #000000;
}