.name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.ordering {
  background: #f2f2f2;
  width: 100%;
  height: auto;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}
.about {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #898a8d;
  margin-top: 10px;
}
.additivesText{
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #898a8d;
}
.additivesBlock{
    margin-top: 20px;
    margin-bottom: 3px;
}
.list{
    padding: 5px 15px;
    width: 100%;
    height: auto;
    background: #F2F2F2;

}
