body {
  font-family: "SF Pro Display",
    sans-serif;
  background: #E5E5E5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  outline: none;
}


